<p id="notice"><%= notice %></p>

<p>
  <strong>Styleimage:</strong>
  <%= @nst.styleImage %>
</p>

<p>
  <strong>Styleweight:</strong>
  <%= @nst.styleWeight %>
</p>

<p>
  <strong>Contentimage:</strong>
  <%= @nst.contentImage %>
</p>

<p>
  <strong>Contentweight:</strong>
  <%= @nst.contentWeight %>
</p>

<p>
  <strong>Styleratio:</strong>
  <%= @nst.styleRatio %>
</p>

<p>
  <strong>Imagesize:</strong>
  <%= @nst.imageSize %>
</p>

<p>
  <strong>Originalcolors:</strong>
  <%= @nst.originalColors %>
</p>

<p>
  <strong>Initpattern:</strong>
  <%= @nst.initPattern %>
</p>

<p>
  <strong>Pooling:</strong>
  <%= @nst.pooling %>
</p>

<%= link_to 'Edit', edit_nst_path(@nst) %> |
<%= link_to 'Back', nsts_path %>
