<%= render 'alert' %>

<h1>Image Library</h1>

<hr>

<div class="row">

	<% if @images.each do |image| %>

		<div class="col-sm-4 col-md-3 col-lg-2">
		  <%= image_tag image.image.thumb.url, :class=>"img-fluid" unless image.image.thumb.url.blank? %>
		  <div class="btn-group margin-vertical" role="group">
      <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#confirm-<%= image.id %>">Delete</button>
		  </div>
		</div>

    <div id="confirm-<%= image.id %>" class="modal fade" tabindex="-1" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            Are you sure?
          </div>
          <div class="modal-footer">
            <%= link_to 'Delete', image, :class =>"btn btn-outline-danger delete-button", "role"=>"button", method: :delete %>
            <button type="button" data-dismiss="modal" class="btn">Cancel</button>
          </div>
        </div>
      </div>
    </div>

	<% end.empty? %>
		<div class="col-xs-12">
			<p class="margin-vertical">There are no images. <a role="button" href="#" data-toggle="modal" data-target="#imageUploadModal">Upload some now.</a></p>
		</div>

	<% end %>

</div>
<hr class="margin-vertical">

<button type="button" class="btn btn-primary margin-vertical" data-toggle="modal" data-target="#imageUploadModal">Upload Images</button>

<div class="modal fade" id="imageUploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', image: @image %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

<% @footer_scripts = capture do %>

<script>

$('#imageUploadModal').on('hidden.bs.modal', function () {
 location.reload();
})

</script>

<% end %>
